{
    "extends": "airbnb",
    "rules": {
        "indent": [2, 4],
        "no-extra-parens": "off",
        "arrow-body-style": ["error", "always"]
    },
    "env": {
        "browser": true,
        "node": true
    }
}
